spring-boot-sample/spring-boot-admin*/.settings/**
spring-boot-sample/spring-boot-admin-rest-jpa-multiple/.settings/**
spring-boot-sample/spring-boot-rest-security-jpa/.settings/**

spring-boot-sample/spring-boot-admin/target/**
spring-boot-sample/spring-boot-admin-rest-jpa-multiple/target/**
spring-boot-sample/spring-boot-rest-security-jpa/target/**

spring-boot-sample/spring-boot-admin*/.mvn/**
spring-boot-sample/spring-boot-admin-rest-jpa-multiple/.mvn/**
spring-boot-sample/spring-boot-rest-security-jpa/.mvn/**

spring-boot-sample/spring-boot-admin/mvnw*
spring-boot-sample/spring-boot-admin-rest-jpa-multiple/mvnw*
spring-boot-sample/spring-boot-rest-security-jpa/mvnw*

spring-boot-sample/spring-boot-rest-jpa/**

*.class
*.project
*.classpath
*/Servers*
*/.metadata/**
*/.recommenders